Package: com.thomz.statusbarbg
Name: StatusBarBG
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkcolourpicker
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Thomz
Author: Thomz
Section: Tweaks
