Package: com.thomz.statusbarbg
Name: StatusBarBG
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkcolourpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Add a background to your status bar!
Maintainer: Thomz
Author: Thomz
Section: Tweaks
Icon: file:///Library/PreferenceBundles/StatusBarBG.bundle/icon@2x.png
